version: "3.6"


services:
  # app:
  #   build: .
  #   container_name: desafio
  #   environment:
  #     - MONGODB_URL=mongodb://mongodb:27017/desafio
  #   stdin_open: true
  #   tty: true
  #   volumes:
  #     - ./desafio_backend:/home
  #   ports:
  #     - "8000:8000"
  #   networks:
  #     - app

  mongodb:
    image: mongo:6-jammy
    ports:
      - '27017:27017'
    environment:
      - MONGO_INITDB_DATABASE=desafio
    volumes:
      - dbdata6:/data/db
    networks:
      - app
volumes:
  dbdata6:
networks:
  app:
    driver: bridge
